@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
  --nav-narrow-width: 72px;
  --nav-medium-width: 244px;
  --nav-wide-width: 335px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    height: 100vh;
    min-height: 400px;
    width: 100vw;
    min-width: 320px;
    margin: 0;
    padding: 0;
}
*{ box-sizing: border-box;}

aside.sideNav{
  border-right: 1px solid rgb(var(--ig-separator));
}
.body {
width: calc(100% - var(--nav-medium-width));
}